---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Social from '@components/Social.astro';
import {
  SITE_TITLE,
  SITE_AUTHOR,
  SITE_DESCRIPTION,
  HEADER_LINKS,
  SOCIAL_LINKS,
} from '../consts';

import {Content as IndexContent} from '@content/index.mdx';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} author={SITE_AUTHOR} description={SITE_DESCRIPTION} />
    <style lang="scss">
      // Noto Sans by Google
      main {
        margin-bottom: 3rem;

        div.hero {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin: 2rem 1rem 1rem;

          img {
            height: auto;
            max-height: 60vh;
            width: 100%;
            max-width: 35rem;
            object-fit: contain;
          }
        }
      }

      article :global(pre code) {
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <Header links={HEADER_LINKS} />
    <main>
      <div class="hero">
        <img src="/images/city.jpg" alt="hero" />
        <p class="monospace">sapporo, hokkaido (jul 30, 2025)</p>
      </div>
      <Social links={SOCIAL_LINKS} />
      <article>
        <IndexContent />
      </article>
    </main>
    <Footer />
  </body>
</html>
