---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Social from "@components/Social.astro";
import {
  SITE_TITLE,
  SITE_AUTHOR,
  SITE_DESCRIPTION,
  HEADER_LINKS,
  SOCIAL_LINKS,
} from "../site.config";

import { Content as IndexContent } from "@content/index.mdx";
import FormattedDate from "@components/FormattedDate.astro";
import { Image } from "astro:assets";
import HeroImage from "@assets/images/hero.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      author={SITE_AUTHOR}
      description={SITE_DESCRIPTION}
    />
    <style lang="scss">
      // Noto Sans by Google
      main {
        margin-bottom: 3rem;

        div.hero {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin: 2rem 1rem 1rem;

          img {
            height: auto;
            max-height: 60vh;
            width: 100%;
            max-width: 35rem;
            object-fit: contain;
          }
        }
      }

      article :global(pre code) {
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <Header links={HEADER_LINKS} />
    <main>
      <div class="hero">
        <Image
          src={HeroImage}
          alt="A digital glitch art piece, depicting a cityscape viewed through a rectangular window."
        />
        <p class="monospace">
          sapporo, hokkaido (<FormattedDate date={new Date("2025-07-30")} />)
        </p>
      </div>
      <Social links={SOCIAL_LINKS} />
      <article>
        <IndexContent />
      </article>
    </main>
    <Footer />
  </body>
</html>
