---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Social from '@components/Social.astro';
import {
  SITE_TITLE,
  SITE_AUTHOR,
  SITE_DESCRIPTION,
  HEADER_LINKS,
  SOCIAL_LINKS,
} from '../consts';

import {Content as IndexContent} from '@components/IndexContent.mdx';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} author={SITE_AUTHOR} description={SITE_DESCRIPTION} />
    <style lang="stylus">
      // Noto Sans by Google
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&text=',.HIXimopuς&display=swap")

      main
        margin-bottom 3rem

        div.hi
          display flex
          flex-wrap wrap
          justify-content center
          align-items center
          align-content center
          gap 1em
          margin 5rem 5rem 4rem
          font-size 1.5em
          height 30rem
          max-height 50vh

          img
            width 8em

            &:active
              animation jump 0.1s cubic-bezier(.4,.9,.6,.1)

            @keyframes jump
              0%, 100%
                transform translateY(0)
              50%
                transform translateY(-0.35em)

          h1
            font-family 'Noto Sans', sans-serif
            font-weight 900
            margin 0
            text-align center
            line-height 1.2

            span
              color var(--accent)

      article :global(pre code)
        overflow-x auto
        white-space pre-wrap
        word-wrap break-word
    </style>
  </head>
  <body>
    <Header links={HEADER_LINKS} />
    <main>
      <div class="hi">
        <img src="/images/avater.png" />
        <h1>Hi, I&#39;m <span>Xiupoς</span></h1>
      </div>
      <Social links={SOCIAL_LINKS} />
      <article>
        <IndexContent />
      </article>
    </main>
    <Footer />
  </body>
</html>
